<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>{% block title %} {% endblock %}</title>
    <style>
        {% block css %} {% endblock %}
  </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <a class="navbar-brand" href="/shop">YCart</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% block homeactive %} {% endblock homeactive %} ">
                    <a class="nav-link" href="/shop">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item {% block aboutactive %} {% endblock aboutactive %} ">
                    <a class="nav-link" href="/shop/about">About Us</a>
                </li>
                <li class="nav-item {% block contactactive %} {% endblock contactactive %} ">
                    <a class="nav-link" href="/shop/contact">Contact Us</a>
                </li>
                <li class="nav-item {% block blogactive %} {% endblock blogactive %} ">
                    <a class="nav-link" href="/blog">Blog</a>
                </li>
                <li class="nav-item {% block trackeractive %} {% endblock trackeractive %} ">
                    <a class="nav-link" href="/shop/tracker">Tracker</a>
                </li>
            </ul>
                <div class="ml-auto form-inline">
                <form method="get" action="/shop/search/" class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search" id="search">
                    <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>
                <button type="button" class="btn btn-secondary mx-2" id="popcart" data-container="body" data-toggle="popover" data-trigger="focus" title="Your items in cart" data-placement="bottom" data-html="true" data-content="Vivamus
sagittis lacus vel augue laoreet rutrum faucibus.">
                    Cart(<span id="cart">0</span>)
                </button>
                {% if user.is_authenticated %}
                <!-- Example single danger button -->
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Welcome {{request.user}}
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout">Log Out</a>
                    </div>
                </div>
                {% else %}
                <!-- button to trigger sign up modal -->
                <button type="button" class="btn btn-secondary mr-2" data-toggle="modal" data-target="#SignupModal" data-whatever="@signupmodal">Sign Up</button>
                <!-- button to trigger log in modal -->
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#LoginModal" data-whatever="@loginmodal">Log In</button>
                {% endif %}
            </div>
        </div>
    </nav>
    <!-- log in modal -->
    <div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Enter Log In Detail's </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/login" method="post">{% csrf_token %}
                        <div class="form-group">
                            <label for="loginUsername" class="col-form-label">Username:</label>
                            <input type="text" class="form-control" id="loginusername" name="loginusername" required>
                        </div>
                        <div class="form-group">
                            <label for="loginpassword" class="col-form-label">Password:</label>
                            <input type="password" class="form-control" id="loginpassword" name="loginpassword" required>
                        </div>
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Log In</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- sign up modal -->
    <div class="modal fade" id="SignupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Enter Sign Up Detail's </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/signup" method="post">
                        <div class="form-group">
                            <label for="username" class="col-form-label">Username:</label>
                            <input type="text" class="form-control" id="username" name="username" required>
                        </div>
                        <div class="form-group">
                            <label for="fname" class="col-form-label">First Name:</label>
                            <input type="text" class="form-control" id="fname" name="fname" required>
                        </div>
                        <div class="form-group">
                            <label for="lname" class="col-form-label">Last Name:</label>
                            <input type="text" class="form-control" id="lname" name="lname" required>
                        </div>
                        <div class="form-group">
                            <label for="liemail" class="col-form-label">Email:</label>
                            <input type="email" class="form-control" id="liemail" name="liemail" required>
                        </div>
                        <div class="form-group">
                            <label for="Password" class="col-form-label">Password:</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <div class="form-group">
                            <label for="cpassword" class="col-form-label">Confirm Password:</label>
                            <input type="password" class="form-control" id="cpassword" name="cpassword" required>
                        </div>
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Sign Up</button>
                    </form>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tag}} alert-dismissible fade show" role="alert">
        <strong>Message!!</strong> {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="false">&times;</span>
        </button>
        {% endfor %}
    </div>
    {% endif %}
    {% block body %} {% endblock %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    {% block js %}
<script>
$('.popover-dismiss').popover({
  trigger: 'focus'
})
</script>
 {% endblock %}
    
</body>

</html>